:root {
  --col-rosewater: #f5e0dc;
  --col-flamingo: #f2cdcd;
  --col-pink: #f5c2e7;
  --col-mauve: #cba6f7;
  --col-red: #f38ba8;
  --col-maroon: #eba0ac;
  --col-peach: #fab387;
  --col-yellow: #f9e2af;
  --col-green: #a6e3a1;
  --col-teal: #94e2d5;
  --col-sky: #89dceb;
  --col-sapphire: #74c7ec;
  --col-blue: #89b4fa;
  --col-lavender: #b4befe;
  --col-text: #cdd6f4;
  --col-subtext1: #bac2de;
  --col-subtext0: #a6adc8;
  --col-overlay2: #9399b2;
  --col-overlay1: #7f849c;
  --col-overlay0: #6c7086;
  --col-surface2: #585b70;
  --col-surface1: #45475a;
  --col-surface0: #313244;
  --col-base: #1e1e2e;
  --col-mantle: #181825;
  --col-crust: #11111b;
}

pre {
    margin-block: 0px;
}

.col {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}

@font-face {
    font-family: 'Lilex';
    src: url("/fonts/Lilex[wght].woff2");
}
@font-face {
    font-family: 'Lilex';
    font-style: italic;
    src: url("/fonts/Lilex-Italic[wght].woff2");
}

:root {
    font-family: 'Lilex';
    font-size: x-large;
    background-color: var(--col-base);
    color: var(--col-text)
}

.powerline {
    padding: 0px;
}
.symbol {
    color: var(--col-overlay0);
}
.username {
    color: var(--col-teal);
}
.hostname {
    color: var(--col-green);
}
.location {
    color: var(--col-yellow);
}
.dollarsign {
    color: var(--col-maroon)
}
#terminalinput {
    all: unset;
    color: var(--col-text);
    caret-shape: bar;
    flex-grow: 1000;
}

#inputline {
    gap: 1ch;
}

.err {
    color: var(--col-red);
}

.perms-r {
    color: var(--col-green);
}
.perms-w {
    color: var(--col-yellow);
}
.perms-no {
    color: var(--col-overlay0);
}

.owner {
    color: var(--col-teal);
}
.date-modified {
    color: var(--col-blue);
}

.size-b {
    color: var(--col-yellow);
}
.size-kb {
    color: var(--col-peach);
}
.size-mb {
    color: var(--col-red);
}

#blog-wrapper {
    margin-inline: 50px;
}
#blog-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--col-text);
    color: var(--col-base);
}

h1, h2, h3 { cursor: pointer; }
.anchor { all:inherit }
.anchor:hover {
    text-decoration: underline dashed var(--col-text) 2px;
}
.anchor:hover::before {
    content: '#';
    color: var(--col-subtext0);
}
h1 > .anchor:hover::before { font-size: 18pt; }
h2 > .anchor:hover::before { font-size: 14pt; }
h3 > .anchor:hover::before { font-size: 10pt; }