:root {
  font-size: 18pt;
}

body {
  margin: 0px;
}

.window-container {
  resize: both;
  overflow: auto;
  position: absolute;
  background-color: white;
}

.window-container.maximized {
  z-index: 100;
}

.window-contents {
  flex: 1;
  border: 1px solid black;
  overflow: scroll;
}

.window-header {
  border: 2px solid black;
  cursor: grab;
}

.col {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}

.window-buttons {
  cursor: pointer;
  font-size: 16pt;
  background: transparent;
}
.window-buttons:hover {
  background: #0002;
}
.window-buttons.close:hover {
  background: firebrick;
}

.window-buttons.minimize {
  margin-left: 10px;
}

.window-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.window-icon,
.taskbar-item {
  image-rendering: pixelated;
}

#taskbar {
  bottom: 0px;
}

#wallpaper {
  overflow: hidden;
}

#desktop {
  position: relative;
}

.taskbar-item {
  border: black dotted 2px;
  cursor: pointer;
}

#desktop-icons {
  position: absolute;
  left: 0;
  top: 0;
}

#atabook {
  position: relative;
  height: 100%;
  width: 100%;
}