<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://static.mildlyintelligent.gay/images/favicon.ico">
    <link rel="stylesheet" href="https://static.mildlyintelligent.gay/styles/main.css">
    <script src="https://static.mildlyintelligent.gay/scripts/include.js"></script>
    <script src="https://static.mildlyintelligent.gay/scripts/header.js"></script>
  </head>
  <body>
    <div class="col">
      <div id="include-file-header"></div>
      <script>add_header("https://static.mildlyintelligent.gay/templates/header.shtml");</script>

      <!-- ... -->
    </div>
  </body>
</html>