<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://static.mildlyintelligent.gay/images/favicon.ico">
    <link rel="stylesheet" href="https://static.mildlyintelligent.gay/styles/main.css?hash=d18666d735f6b18b65016a74eb3b80ba">
    <script src="https://static.mildlyintelligent.gay/scripts/include.js"></script>
    <script src="https://static.mildlyintelligent.gay/scripts/header.js"></script>
    <script defer src="https://static.mildlyintelligent.gay/scripts/emoji.js?hash=91d55184bb99c13d9f63053b6d3e7ff0"></script>
  </head>
  <body>
    <div class="col">
      <div id="include-file-header"></div>
      <script>add_header("https://static.mildlyintelligent.gay/templates/header.shtml");</script>
      <div class="row">
        <div id="include-file-quotes-header"></div>
        <script>add_header("https://static.mildlyintelligent.gay/templates/quotes-header.shtml");</script>

        <fieldset class="tui-window">
          <legend class="tui-title"></legend>
          <div>
            <!-- <script time="YYYY-MM-SS hh:mm" ctx="" src="https://static.mildlyintelligent.gay/scripts/quote.js?hash=1e2c547d5535a73fbbe029e60e8f6bae">
              // Stuff goes here
            </script> -->
          </div>
        </fieldset>
      </div>
    </div>
  </body>
</html>