.window-container {
  resize: both;
  overflow: auto;
  position: absolute;
}

.window-contents {
  flex: 1;
  border: 1px solid black;
}

.window-header {
  border: 2px solid black;
  cursor: move;
}

.col {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}