:root {
  font-size: 22pt;
}

body {
  margin: 0px;
}

.window-container {
  resize: both;
  overflow: auto;
  position: absolute;
  background-color: white;
}

.window-container.maximized {
  z-index: 100;
}

.window-contents {
  flex: 1;
  border: 1px solid black;
}

.window-header {
  border: 2px solid black;
  cursor: grab;
}

.col {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
	flex-direction: row;
}

.window-buttons {
  font-size: 18pt;
  cursor: pointer;
}

#taskbar {
  bottom: 0px;
}

#wallpaper {
  overflow: hidden;
}

#desktop {
  position: relative;
}

.taskbar-item {
  border: black dotted 2px;
}